<div class="container-fluid pt-sm-4">

  <app-dados-terapeuta></app-dados-terapeuta>

  <div class="card mt-sm-4">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h3>Lista de Pacientes</h3>
        </div>
        <div class="col text-right">
          <button type=button class="btn btn-link mr-3 text-center" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" >
            <span *ngIf="isCollapsed"><i class="fa fa-eye tamanho-icone"></i></span>
            <span *ngIf="!isCollapsed"><i class="fa fa-eye-slash tamanho-icone"></i></span>
          </button>
          <button type=submit class="btn btn-primary mr-3" (click)="abrirCadastroPacienteModal()">
            <span><i class="fa fa-plus mr-2"></i> Cadastrar Paciente </span>
          </button>
          <button type=submit class="btn btn-danger" [disabled]="pacientesSelecionados == null || pacientesSelecionados.length == 0   "
                  (click)="abrirExcluirPacienteModal()">
            <span><i class="fa fa-trash mr-2"></i> Excluir Paciente </span>
          </button>
        </div>
      </div>
    </div>

    <div class="card-body" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <ng-template #rt let-r="result" let-t="term">
        <ngb-highlight [result]="r.nomeCompleto" [term]="t"></ngb-highlight>
      </ng-template>
      <label for="typeahead-basic">Nome do paciente:</label>
      <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="pesquisaPaciente"
             [ngbTypeahead]="buscar" [resultTemplate]="rt" [inputFormatter]="formater"/>
      <table class="table" *ngIf="pesquisaPaciente">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Idade</th>
          <th scope="col">Responsável</th>
          <th scope="col">Ficha</th>
          <th scope="col">Exportar Ficha</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row"> {{pesquisaPaciente.id}} </th>
          <td><span>{{pesquisaPaciente.nomeCompleto}}</span></td>
          <td> {{pesquisaPaciente.dataNascimento}} </td>
          <td><a (click)="abrirResponsavelModal(pesquisaPaciente.responsaveis)">Responsável</a></td>
          <td><i (click)="abrirFichaModal()" class="fa fa-edit"></i></td>
          <td>
            <i class="fa fa-google pr-5"></i>
            <i class="fa fa-file-pdf-o"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="card-body" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">
              <label for="selecionarTodos">
                <input [disabled]="pacientes.length == 0" id="selecionarTodos" type="checkbox"
                       (click)="selecionarTodos($event)">
              </label>
            </th>
            <th scope="col">Id</th>
            <th scope="col">Nome Completo</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Responsável</th>
            <th scope="col">Ficha</th>
            <th scope="col">Exportar Ficha</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let paciente of pacientes | paginate: {itemsPerPage: contador, currentPage: page + 1, totalItems: total }">
            <th scope="row">
              <label>
                <input type="checkbox" [(ngModel)]="campoSelecionado" name="campoSelecionado"
                       (change)="selecionarPaciente(paciente, $event)">
              </label>
            </th>
            <th> {{paciente.id}} </th>
            <td><span>{{paciente.nomeCompleto}}</span></td>
            <td> {{paciente.dataNascimento}} </td>
            <td>
              <button class="btn btn-link text-center ml-3 tamanho-icone" (click)="abrirResponsavelModal(paciente.responsaveis)">
                <i class="fa fa-female"></i>
                <i class="fa fa-male"></i>
              </button>
            </td>
            <td>
              <button class="btn btn-link tamanho-icone">
                <i (click)="abrirFichaModal()" class="fa fa-edit"></i>
              </button>
            </td>
            <td>
              <button class="btn btn-link tamanho-icone">
                <i class="fa fa-google"></i>
              </button>
              <button class="btn btn-link tamanho-icone" (click)="downloadFicha()">
                <i class="fa fa-file-pdf-o"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="text-center">
          <pagination-controls
            (pageChange)="mudarPagina($event)" directionLinks="true" responsive="true" previousLabel="Anterior"
            nextLabel="Próximo">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>

</div>
