<div class="container-fluid pt-4">
  <app-dados-terapeuta [terapeuta]="terapeuta"></app-dados-terapeuta>
  <div class="card mt-4">
    <div class="card-header form-inline">
        <h3>Lista de Pacientes</h3>
        <button type=submit class="btn btn-primary" (click)="abrirCadastroPacienteModal()">Adicionar
          Paciente
        </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Responsável</th>
            <th scope="col">Ficha</th>
            <th scope="col">Exportar Ficha</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let paciente of pacientes | paginate: {itemsPerPage: contador, currentPage: page + 1, totalItems: total }">
            <th scope="row"> {{paciente.id}} </th>
            <td><span>{{paciente.nomeCompleto}}</span></td>
            <td> {{paciente.idade}} </td>
            <td><a (click)="abrirResponsavelModal()">Responsável</a></td>
            <td><i (click)="abrirFichaModal()" class="fa fa-edit"></i></td>
            <td>
              <i class="fa fa-google pr-5"></i>
              <i class="fa fa-file-pdf-o"></i>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="text-center">
          <pagination-controls
            (pageChange)="mudarPagina($event)" directionLinks="true" responsive="true" previousLabel="Anterior"
            nextLabel="Próximo">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
