<div class="container-fluid">

  <div class="row">
    <div class="col-sm-3" style="margin-top: 3%">
      <img class="img-fluid" src="../../../assets/imagens/logo-tea.png" alt="logo-tea">
    </div>
    <div class="col pt-sm-5 login text-center">

      <div class="pb-sm-4">
        <h1>Bem vindo a plataforma web da R.A.F.A</h1>
      </div>

      <div class="form-group centralizar">
        <form [formGroup]="formularioLogin">
          <div class="row pb-sm-3">
            <label for="email"></label>
            <input id="email" type=email class="form-control tamanho" placeholder="Email" formControlName="email">
          </div>
          <div class="row">
            <label for="senha"></label>
            <input id="senha" autocomplete="current password" type=password class="form-control" placeholder="Senha"
                   formControlName="senha">
          </div>
        </form>
      </div>

      <div class="pb-sm-2 text-center">
        <a href="#">Esqueceu a senha?</a>
      </div>
      <div class="text-center">
        <button type=submit class="btn btn-primary mr-3" (click)="cadastrar()">
          <span><i class="fa fa-user-plus mr-1"></i> Cadastrar </span>
        </button>
        <button type=submit class="btn btn-primary" [disabled]="formularioLogin.invalid" (click)="logar()">
          <span><i class="fa fa-sign-in mr-1"></i> Entrar </span>
        </button>
      </div>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>



