<div>

  <app-dados-responsavel [responsavel]="responsavel"></app-dados-responsavel>

  <div class="container-fluid pt-3">
    <div class="card">
      <div class="card-header">
        <h3>Lista de Protegidos</h3>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th scope="col"><label>
              <input type="checkbox" name="campoSelecionado">
            </label></th>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Responsável</th>
            <th scope="col">Exportar Ficha</th>
          </tr>
          </thead>
          <tbody *ngIf="listaPacientes.length !== 0">
          <tr *ngFor="let paciente of listaPacientes">
            <th scope="row">
              <label>
                <input type="checkbox" name="campoSelecionado">
              </label>
            </th>
            <th> {{paciente.id}} </th>
            <td><span> {{paciente.nomeCompleto}}</span></td>
            <td> {{paciente.dataNascimento}} </td>
            <td>
              <button class="btn btn-link text-center ml-3 tamanho-icone">
                <i class="fa fa-female"></i>
                <i class="fa fa-male"></i>
              </button>
            </td>
            <td>
              <button class="btn btn-link tamanho-icone ml-4" (click)="downloadFicha()">
                <i class="fa fa-file-pdf-o"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
