<div class="modal-open">
  <div class="modal-header">
    <h3>Responsável</h3>
  </div>

  <div class="modal-body">

    <div>
      <label>
        <span> Selecione o responsável: </span>
        <select class="form-control" [ngModel]="responsavelSelecionado">
          <option *ngFor="let responsavel of responsaveis" [value]="responsavel">
            {{responsavel.nomeCompleto}}
          </option>
        </select>
      </label>
    </div>

    <div class="row pt-2">
      <div class="col">
        <label class="pr-3" for="responsavel-nome-completo">
          <span> Nome completo:</span>
          <input id="responsavel-nome-completo" class="form-control" type="text"
                >
        </label>
      </div>
      <div class="col">
        <label for="responsavel-data-nascimento">
          <span>Data de Nascimento:</span>
          <input id="responsavel-data-nascimento" class="form-control" type="date" pattern="dd/MM/yyyy"
                >
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="pr-3" for="responsavel-telefone">
          <span>Telefone:</span>
          <input id="responsavel-telefone" class="form-control" type="tel" >
        </label>
      </div>
      <div class="col">
        <label for="responsavel-cpf">
          <span>CPF:</span>
          <input id="responsavel-cpf" maxlength="14" class="form-control" type="text"
                 >
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="pr-3" for="responsavel-parentesco">
          <span>Parentesco:</span>
          <input id="responsavel-parentesco" class="form-control" type="text">
        </label>
      </div>

    </div>
  </div>

  <hr>

  <div class="modal-header pt-0">
    <h3>Endereço</h3>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col">
        <label class="pr-3" for="cep">
          <span>Cep:</span>
          <input id="cep" class="form-control" type="number">
        </label>
      </div>
      <div class="col">
        <label for="numero">
          <span>Número da casa/prédio:</span>
          <input id="numero" class="form-control" type="number">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="pr-3" for="rua">
          <span>Rua:</span>
          <input id="rua" class="form-control" type="text">
        </label>
      </div>
      <div class="col">
        <label for="bairro">
          <span>Bairro:</span>
          <input id="bairro" class="form-control" type="text">
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="detalhes">
          <span>Detalhes:</span>
          <textarea cols="60" rows="3" id="detalhes" class="form-control"></textarea>
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="cancelar()">
      <span>Cancelar <i class="fa fa-times"></i></span>
    </button>
    <button class="btn btn-primary">
      <span>Alterar <i class="fa fa-save"></i></span>
    </button>
  </div>
</div>
