<div class="container-fluid">

  <div class="row">
    <div class="col-3" style="margin-top: 3%">
      <img class="img-fluid" src="assets/imagens/logo-tea.png" alt="logo-tea">
    </div>
    <div class="col pt-5 text-center">

      <div class="pb-2">
        <h1>Bem vindo a plataforma web da R.A.F.A</h1>
        <h3> Cadastrar novo usuário</h3>
      </div>

      <div class="form-group">
        <form [formGroup]="formularioCadastro">

          <div class="row">
            <div class="col">
              <label for="nomeCompleto"></label>
              <input id="nomeCompleto" type=text class="form-control" placeholder="Nome Completo"
                     formControlName="nomeCompleto">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="dataNascimento"></label>
              <input id="dataNascimento" type=date class="form-control" placeholder="Data de Nascimento"
                     formControlName="dataNascimento">
            </div>
            <div class="col">
              <label for="telefone"></label>
              <input id="telefone" type=text class="form-control" placeholder="Telefone"
                     formControlName="telefone" mask="(00) 0 0000-0000">
            </div>
          </div>

          <div class="row">

            <div class="col">
              <label for="cpf"></label>
              <input id="cpf" type=text class="form-control" placeholder="CPF"
                     formControlName="cpf" maxlength="14" mask="CPF_CNPJ">
            </div>

            <div class="col">
              <label for="crfa"></label>
              <input id="crfa" type=text class="form-control" placeholder="CRFa"
                     formControlName="crfa" mask="0-00000">
            </div>

          </div>

          <div class="row">
            <div class="col">
              <label for="formacao"></label>
              <input id="formacao" type=text class="form-control" placeholder="Formação Acadêmica"
                     formControlName="formacao">
            </div>
            <div class="col">
              <label for="especialidade"></label>
              <input id="especialidade" type=text class="form-control" placeholder="Especialidade"
                     formControlName="especialidade">
            </div>
          </div>

          <form formGroupName="login">
            <div class="row">
              <div class="col">
                <label for="email"></label>
                <input id="email" type=email class="form-control" placeholder="Email" formControlName="email">
              </div>
              <div class="col">
                <label for="senha"></label>
                <input id="senha" autocomplete="current password" type=password class="form-control" placeholder="Senha"
                       formControlName="senha">
              </div>
            </div>
          </form>

          <form formGroupName="endereco">

            <div class="row">
              <div class="col">
                <label for="rua"></label>
                <input id="rua" type=text class="form-control" placeholder="Rua" formControlName="rua">
              </div>
              <div class="col">
                <label for="bairro"></label>
                <input id="bairro" type=text class="form-control" placeholder="Bairro" formControlName="bairro">
              </div>
              <div class="col">
                <label for="numero"></label>
                <input id="numero" type=number class="form-control" placeholder="Número" formControlName="numero">
              </div>
              <div class="col">
                <label for="cep"></label>
                <input id="cep" type=number class="form-control" placeholder="CEP" formControlName="cep">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="cidade"></label>
                <input id="cidade" type=text class="form-control" placeholder="Cidade" formControlName="cidade">
              </div>
              <div class="col">
                <label for="estado"></label>
                <input id="estado" type=text class="form-control" placeholder="Estado" formControlName="estado">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label for="complemento"></label>
                <textarea id="complemento" class="form-control" placeholder="Complemento" formControlName="complemento"
                          cols="3"></textarea>
              </div>
            </div>

          </form>
        </form>
      </div>
      <div>
        <button type=submit class="btn btn-primary mr-3" [disabled]="formularioCadastro.invalid" (click)="cadastrar()">
          <span><i class="fa fa-save mr-1"></i> Cadastrar </span>
        </button>
      </div>
    </div>
    <div class="col-3">
    </div>
  </div>
</div>



