/* You can add global styles to this file, and also import other style files */
.centralizar {
  display: flex;
  justify-content: center;
}
.color-modal-header {
  background-color: #499BF2;
  color: white;
}
