<div class="modal-open">
  <div class="modal-header">
    <h3>Ficha</h3>
  </div>
  <div class="modal-body">
    <form>
      <input class="form-control" type="text">
      <input class="form-control" type="text">
      <input class="form-control" type="text">
      <input class="form-control" type="text">
      <input class="form-control" type="text">
      <input class="form-control" type="text">
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="cancelar()">
      <span>Cancelar <i class="fa fa-times"></i></span>
    </button>
    <button class="btn btn-primary">
      <span>Salvar <i class="fa fa-save"></i></span>
    </button>
  </div>
</div>
